<!DOCTYPE html>
<html>
  <head>
    <title>&lt;Quiz&gt;</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido, a &lt;Quiz&gt;</h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
